<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="eventlog" xsi:type="EventLog" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" source="MemcacheCLI" log="Application" />
    </targets>
    <rules>
      <!-- Enable only one of none of the following -->
      <!-- <logger name="*" minlevel="Trace" writeTo="eventlog"/> -->
      <!-- <logger name="*" minlevel="Debug" writeTo="eventlog"/> -->
      <logger name="*" minlevel="Info" writeTo="eventlog" />
      <!-- <logger name="*" minlevel="Warn" writeTo="eventlog"/> -->
      <!-- <logger name="*" minlevel="Error" writeTo="eventlog"/> -->
      <!-- <logger name="*" minlevel="Fatal" writeTo="eventlog"/> -->
    </rules>
  </nlog>  
  <appSettings>
    <!--MemcacheServer is the ipaddress:port for the memcache server -->
    <add key="MemcacheServer" value="10.118.233.83:11211"/>
    <!-- Operation is the op to perform, currently only support delete (case insensitive>-->
    <add key="Operation" value="Delete"/>
    <!-- Pattern is the regular expression that will be used to match the cache keys -->
    <add key="Pattern" value="^P_Faculty_"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>